@page "/counter"
@inject IStringLocalizer<Counter> localizer

<PageTitle>@localizer["Title"]</PageTitle>

<h1>@localizer["Title"]</h1>

<p role="status">@localizer["CurrentCountMsg", @currentCount]</p>

<button class="btn btn-primary" @onclick="IncrementCount">@localizer["ClickMeBtn"]</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
